h1 {
    font-family: "Alata";
    font-size: 40px;
    font-weight: 400;
}

h2 {
    font-family: "Slabo";
    font-size: 32px;
    font-weight: 400;
}
p {
    font-family: "Source Code Pro";
    font-size: 18px;
    font-weight: 400;
}