/* Issues I currently have with project
colors class not centered
fonts class not centered
styles class not centered
colors class doesnt match up with borders of other class's below*/


h1 {
    font-family: "Alata";
    font-size: 40px;
    font-weight: 400;
}

h2 {
    font-family: "Slabo";
    font-size: 32px;
    font-weight: 400;
}
p {
    font-family: "Source Code Pro";
    font-size: 18px;
    font-weight: 400;
}

.green {
    background-color: #5fc96b;
    height: 100px;
    width: 300px;
}
.blue {
    background-color: #32a0db;
    height: 100px;
    width: 300px;
}
.grey {
    background-color: rgba(170, 170, 170, 0.842);
    height: 100px;
    width: 300px;
}
header {
    font-size: 46px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    z-index: 10;
    border: 2px solid black;
    padding: 10px;
    text-transform: uppercase;
    clear: both;
    max-height: 300px;
    text-align: center;
    background-image: url(./resources/stick.jpg);
    background-size: cover;
    
}
/* Colors class not same width as fonts or styles class????? I dont know why it will not match*/
.colors {
    width: 75%;
    border: 1px solid black;
    clear: both;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    min-height: 200px;
    text-align: center;
    margin: auto;

}
.colorBox {
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}
main {
    position: relative;
    top: 100px;
    margin: 0 10%;
}
html {
    background-color: white;
    background-size: cover;
}
.font1 {
    font-family: "Alata";
}
.font2 {
    font-family: "Slabo";
}
.font3 {
    font-family: "Source Code Pro";
}
.fonts {
    font-size: 26px;
    border: 1px solid black;
    text-align: center;
    width: 75%;
    display: inline-block;
    margin: auto;
    border-radius: 5px;
}
.styles {
    border: 1px solid black;
    width: 75%;
    text-align: center;
    display: inline-block;
}
body {
    margin: auto;

}
/*Makes bullet points center */
li {
    list-style-position: inside;
}